@charset "UTF-8";
* {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.25em;
}

a {
  color: white;
  text-decoration: none;
  font-style: italic;
}

* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #E6E6E6;
}
body:not(:root):-webkit-full-screen::backdrop {
  background: #E6E6E6; /* substitua "red" pela cor desejada */
}
body:not(:root):-ms-fullscreen::backdrop {
  background: #E6E6E6; /* substitua "red" pela cor desejada */
}
body:not(:root):fullscreen::-webkit-backdrop {
  background: #E6E6E6; /* substitua "red" pela cor desejada */
}
body:not(:root):fullscreen::backdrop {
  background: #E6E6E6; /* substitua "red" pela cor desejada */
}

.layout-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
  gap: 2.8708133971%;
  height: 100%;
}

.layout-side-bar {
  width: 10vw;
  height: 100vh;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.157);
}

.layout-main {
  display: flex;
  align-items: center;
  gap: 5%;
}

.layout-tasks {
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgb(214, 211, 211), rgba(128, 128, 128, 0.749));
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.244);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.layout-task-item {
  background-color: #E6E6E6;
  width: 90%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.16);
}

.layout-inputs {
  display: flex;
  width: 90%;
  gap: 3%;
}

.layout-container-anotações {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 25px;
}

.layout-taks-container {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  border-bottom: 1px solid #808080;
}

.layout-taks-individual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px 40px;
}

.module-button-input {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  border: none;
}

.module-input-task {
  width: 100%;
  height: 90px;
  background-color: #E6E6E6;
  border: none;
  border-radius: 5px;
  padding-left: 30px;
  font-size: 25px;
}
.module-input-task::-moz-placeholder {
  font-size: 25px;
}
.module-input-task:-ms-input-placeholder {
  font-size: 25px;
}
.module-input-task::placeholder {
  font-size: 25px;
}

.module-svg-button {
  width: 60%;
  height: 60%;
}

.module-anotações {
  font-size: 18px;
}

.module-button-check {
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: #8AE58D;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
}

.check {
  width: 100%;
  height: 100%;
}

.note {
  width: 100%;
  height: 100%;
}

.layout-input-text {
  width: 75%;
}

.layout-input-text {
  width: 75%;
}

.module-blue {
  background-color: #6695CC;
}

.module-green {
  background-color: #8AE58D;
}

.module-red {
  background-color: #c66;
}

.module-svg-container {
  width: 18px;
  height: 18px;
}

.module-title-task {
  color: #6A6767;
}/*# sourceMappingURL=import.css.map */