.layout-task-item {
    background-color: #fefefe;
    width: 90%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden scroll;
    &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        background-color: lightgray;
        border-radius: 10px;
        width: 15px;
    }
}