.layout-tasks {
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgb(214, 211, 211), rgba(128, 128, 128, 0.749));
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
}